services:
  node_exporter:
    image: prom/node-exporter:latest
    container_name: node_exporter
    restart: unless-stopped
    ports:
      - "9100:9100"
    pid: host
    volumes:
      - /:/host:ro,rslave
    command:
      - "--path.rootfs=/host"
      - "--collector.textfile.directory=/host/var/lib/node_exporter/textfile_collector"

  goflow2:
    image: ghcr.io/netsampler/goflow2:latest
    container_name: goflow2
    restart: unless-stopped
    command:
      - -listen=0.0.0.0:2055
      - -transport=udp
      - -metrics.addr=0.0.0.0:9101
    ports:
      - "2055:2055/udp"
      - "9101:9101"