services:
  node_exporter:
    image: prom/node-exporter:latest
    container_name: node_exporter
    restart: unless-stopped
    ports:
      - "9100:9100"
    pid: host
    volumes:
      - /:/host:ro,rslave
    command:
      - "--path.rootfs=/host"
  pmacct:
    image: pmacct/pmacct:latest
    container_name: pmacct
    restart: unless-stopped
    network_mode: host
    cap_add:
      - NET_ADMIN
      - NET_RAW
    volumes:
      - ./pmacct/pmacct.conf:/etc/pmacct/pmacct.conf
    command: >
      pmacctd -f /etc/pmacct/pmacct.conf