services:
  node_exporter:
    image: prom/node-exporter:latest
    container_name: node_exporter
    restart: unless-stopped
    ports:
      - "9100:9100"
    pid: host
    volumes:
      - /:/host:ro,rslave
    command:
      - "--path.rootfs=/host"
  ntopng:
    image: ntop/ntopng:stable
    container_name: ntopng
    restart: unless-stopped
    ports:
      - "9101:9101"
    privileged: true
    volumes:
      - ntopng_data:/var/lib/ntopng
    command:
      - "--http-port=9101"
      - "--prometheus"
volumes:
  ntopng_data: