global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: "prometheus"
    static_configs:
      - targets: ["local.rockbomb.malign.top:9100"]
  - job_name: 'flows'
    static_configs:
      - targets: ['local.rockbomb.malign.top:9101']